.button-custom {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.button-custom::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.button-custom:hover::before {
    width: 9em;
}

.input-custom {
    width: 200px;
    height: 45px;
    border: none;
    outline: none;
    padding: 0 7px;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    background-color: transparent;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1), -1px -1px 6px rgba(255, 255, 255, 0.4);
    transition: box-shadow 0.3s ease;
  }
  
  .input-custom:focus {
    border: 2px solid transparent;
    color: #fff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1), -1px -1px 6px rgba(255, 255, 255, 0.4),
      inset 3px 3px 10px rgba(0, 0, 0, 1), inset -1px -1px 6px rgba(255, 255, 255, 0.4);
  }
  
  .input-custom:valid,
  .input-custom:focus {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1), -1px -1px 6px rgba(255, 255, 255, 0.4),
      inset 3px 3px 10px rgba(0, 0, 0, 1), inset -1px -1px 6px rgba(255, 255, 255, 0.4);
  }
  
  .label-custom {
    font-size: 15px;
    padding-left: 10px;
    position: absolute;
    top: 13px;
    transition: 0.3s;
    pointer-events: none;
    color: white;
  }
  
  .input-custom:focus ~ .label-custom,
  .input-custom:valid ~ .label-custom {
    padding-left: 2px;
    transform: translateY(-35px);
  }

@keyframes glow {
  0% { filter: drop-shadow(0 0 5px rgba(25, 234, 98, 0.5)); }
  50% { filter: drop-shadow(0 0 20px rgb(44, 24, 223)) drop-shadow(0 0 30px rgba(0, 0, 255, 0.75)); }
  100% { filter: drop-shadow(0 0 5px rgba(235, 72, 18, 0.5)); }
}

.logo-glow {
  animation: glow 3s infinite ease-in-out;
}

  